html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Regular'),
    url("../fonts/MullerRegular.woff2") format('woff2'),
    url("../fonts/MullerRegular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Light'),
    url("../fonts/MullerLight.woff2") format('woff2'),
    url("../fonts/MullerLight.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Medium'),
    url("../fonts/MullerMedium.woff2") format('woff2'),
    url("../fonts/MullerMedium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller-Bold'),
    url("../fonts/MullerBold.woff2") format('woff2'),
    url("../fonts/MullerBold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --base-color: #CC9933;
  --light-color: #F0bF5F;
  --dark-color: #A47312;
}

body {
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background: #F1F1F1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.link {
  color: #CC9933;
}

.paragraph {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.section__title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 45px;
}

.section-offset {
  padding-top: 30px;
  padding-bottom: 70px;
}

.services__item__descr {
  max-width: 402px;
  margin: 0;
}

.header {
  padding-top: 30px;
  padding-bottom: 70px;
}

.header__container {
  margin-bottom: 30px;
  align-items: center;
}

.header-link-logo {
  margin-right: 34px;
}

.header__contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-right: auto;
  color: #666666;
  transition: color 0.3s ease-in-out;
}

.header__contact-link:focus {
  outline: 1px solid #CC9933;
}

.header__contact-link:hover {
  color: var(--base-color);
}

.header__contact-link:active {
  outline: none;
  color: var(--dark-color);
}


.header__room-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  background-image: url(../img/strelka-1.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  transition: color 0.3s ease-in-out;
}

.header__room-link:focus {
  outline: 1px solid #F0BF5F;
}

.header__room-link:hover {
  color: var(--base-color);
}

.header__room-link:active {
  outline: none;
  color: var(--dark-color);
}

.container__nav {
  width: 1170px;
  align-items: center;
  justify-content: center;
  outline: 1px solid #fff;
  border-radius: 15px;
  background: #FFF;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 56px;
}

.nav__list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  padding: 27px 0;
  margin-right: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav-item:last-child {
  margin: 0;
}

.nav__link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 1px solid #CC9933;
}

.nav__link:hover {
  color: var(--base-color);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16px;
  background-color: #CC9933;
  opacity: 0;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-link:active::after {
  opacity: 1;
}

.nav-link:active {
  color: var(--dark-color);
  outline: none;
}

.buttons__item {
  position: relative;
}

.buttons__item:not(:last-child) {
  margin-right: 40px;
}

.btn {
  padding: 13px 20px;
  background: transparent;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #CC9933;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn:active::after {
  opacity: 1;
}

.btn:hover {
  color: #FFF;
  background-color: var(--base-color);
}

.btn:active {
  background-color: var(--dark-color);
}

.btn:active::after {
  opacity: 0;
}

/* main */


/* special */

.special {
  padding-top: 30px;
  padding-bottom: 70px;
}

.special__content {
  display: flex;
}

.special__block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 2);
}

.special__block:not(:last-child) {
  margin-right: 30px;
}

.special__title__header {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.special__title {
  margin: 0;
  margin-bottom: 15px;
}

.special__title-luxury {
  width: 299px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
}

.special__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  margin-bottom: 30px;
  background-color: #e9efed;
  padding: 40px;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
}

.special-item:last-child {
  margin-bottom: 0;
}

.special__picture--first {
  background-image: url(../img/ostrov-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 573px 258px;
}

.special__picture--second {
  background-image: url(../img/ostrov-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 573px 258px;
}

.special__picture--third {
  background-image: url(../img/sotrov-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 573px 540px;
}

.special__title {
  width: 420px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.special__price {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 47px;
}

.special__link {
  position: relative;
  max-width: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  margin: 0;
  background-image: url(../img/strelka-2.1.svg);
  background-repeat: no-repeat;
  background-position: 90px 0;
  transition: color 0.3s ease-in;
}

.special__link::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 1px solid #CC9933;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.special__link:focus {
  color: var(--base-color);
}

.special__link:focus::after {
  opacity: 1;
}

.special__link:hover {
  color: var(--light-color);
}

.special__link:active {
  color: #FFF;
}

.special__link:active::after {
  opacity: 0;
}


.item-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 15px;
}

/* about-us */

.about__us__header {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.about__us__text {
  width: 888px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/* services */

.services__container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.services__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.services__item__descr {
  width: 402px;
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.services__item {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 573px;
  min-height: 276px;
  background-color: #FFFFFF;
  padding-top: 180px;
  padding-left: 45px;
  padding-right: 42px;
  margin-right: 22px;
  border-radius: 15px;
}

.services__item:nth-child(2n) {
  margin-right: 0;
}

.services__item:nth-child(-n+2) {
  margin-bottom: 24px;
}

.services__pic {
  background-color: #FFFFFF;
}

.services__pic--frist {
  background-image: url(../img/services-1.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;
}

.services__pic--second {
  background-image: url(../img/services-2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.services__pic--third {
  background-image: url(../img/services-3.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.services__pic--four {
  background-image: url(../img/services-4.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}


.services__list {
  flex-wrap: wrap;
}

.services__item__link {
  display: inline-block;
  text-align: justify;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  background-image: url(../img/strelka-3.1.svg);
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 15px;
  transition: color 0.3s ease-in-out;
}

.services__item__link:focus {
  outline: 1px solid #CC9933;
}

.services__item__link:hover {
  color: var(--base-color);
}

.services__item__link:active {
  outline: none;
  color: var(--dark-color);
}

/* advantages */

.advantages__container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.advantages__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.advantages__list {
  flex-wrap: wrap;
}

.advanteges__items {
  width: 276px;
  min-height: 276px;
  margin-bottom: 22px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.advanteges__items:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advanteges__items:last-child {
  margin-right: 0;
}

.advantages__pic--first {
  background-image: url(../img/bathtub-1.png);
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 67px 66px;
}

.advantages__pic--second {
  background-image: url(../img/hanger-2.png);
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 67px 66px;
}

.advantages__pic--thrid {
  background-image: url(../img/heating-3.png);
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 67px 66px;
}

.advantages__pic--four {
  background-image: url(../img/hotel-key-4.png);
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 67px 66px;
}

.advantages__pic--five {
  background-image: url(../img/parking-5.png);
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 67px 66px;
}

.advantages__pic--six {
  background-image: url(../img/reception-6.png);
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 67px 66px;
}

.advantages__pic--seven {
  background-image: url(../img/security-box-7.png);
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 67px 66px;
}

.advantages__pic--eight {
  background-image: url(../img/swimming-pool-8.png);
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 67px 66px;
}

.advantages__items__desc {
  padding-top: 116px;
  padding-right: 42px;
  padding-bottom: 32px;
  padding-left: 45px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

/* accommodation */

.accommodation__container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.accommodation__list {
  flex-wrap: wrap;
}

.accomodation__items {
  width: 374px;
  min-height: 440px;
  margin-bottom: 24px;
  background: #FFFFFF;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.accomodation__items:not(:nth-child(3n)) {
  margin-right: 24px;
}

.accomodation__items:nth-child(n+7) {
  margin-bottom: 0;
}

.accommodation__header__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.accomodation__pic--first {
  width: 374px;
}

.price-star {
  display: block;
  min-width: 373px;
  margin: 0;
  padding-top: 32px;
  padding-right: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
}

.from {
  display: inline-block;
  margin: 0;
  margin-right: 4px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  width: 17px;
}

.accommodation__price {
  display: inline-block;
  margin: 0;
  margin-right: 4px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.night {
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.stars {
  display: inline-block;
}

.accommodation__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.accommodation__place {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.accommodation__btn {
  position: relative;
  display: flex;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background: #FFFFFF;
  color: #CC9933;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #CC9933;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.accommodation__btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #CC9933;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.accommodation__btn:active::after {
  opacity: 1;
}

.accommodation__btn:hover {
  color: #FFF;
  background-color: var(--base-color);
}

.accommodation__btn:active {
  background-color: var(--dark-color);
}

.accommodation__btn:active::after {
  opacity: 0;
}


.accommodation__items-pic {
  width: 374px;
  min-height: 440px;
}

.accommodation__items-pic--last {
  background-image: url(../img/accom-9.png);
  background-repeat: no-repeat;
  border-radius: 15px;
}

.accommodation__items__decor {
  position: relative;
  align-items: flex-end;
  padding-left: 54px;
  padding-bottom: 27px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.accommodation__link {
  background-image: url(../img/last-strelka.svg);
  background-repeat: no-repeat;
  background-position: 255px 10px;
  min-width: 270px;
  min-height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  transition: color 0.3s ease-in;
}

.accommodation__link:focus {
  outline: 1px solid #CC9933;
}

.accommodation__link:hover {
  color: var(--base-color);
}

.accommodation__link:active {
  outline: none;
  color: var(--dark-color);
}

.accommodation__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* want tour */


.want__container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  background: #E9E9E9;
  border-radius: 15px;
  padding-bottom: 45px;
}

.tour__title {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.tour__container {
  width: 1080px;
  margin: 0 auto;
  padding: 0;
  padding-left: 28px;
  margin-right: 45px;
  background: #FFFFFF;
  border-radius: 15px;
}

.label {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tour__label {
  width: 20%;
  margin: 0;
  padding: 0;
  margin-right: 41px;
  padding-top: 31px;
  padding-bottom: 32px;
  justify-content: space-between;
  cursor: pointer;
}

.label__night {
  width: 15%;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  margin-right: 41px;
  padding-top: 31px;
  justify-content: space-between;
  cursor: pointer;
}

.wrapper__span {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.select__state {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: none;
}

.data__input {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.data__input:-webkit-autofill {
  background: black;
  color: red;
}

.data__input--number {
  border-bottom: 1px solid #e9e9e9;
}

.down {
  position: relative;
  list-style: none;
  padding-top: 32px;
  padding-right: 28px;
}

.btn-down {
  width: 108px;
  border: 1px solid #CC9933;
  background: #FFFFFF;
  padding: 13px 30px;
  border-radius: 10px;
  color: #CC9933;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.btn-down::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #CC9933;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.btn-down:active::after {
  opacity: 1;
}

.btn-down:hover {
  color: #FFF;
  background-color: var(--base-color);
}

.btn-down:active {
  background-color: var(--dark-color);
}

.btn-down:active::after {
  opacity: 0;
}


/* contacts */

.contacts__container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 70px;
}

.contact__head__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 45px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.top-contacts {
  background: #FFFFFF;
  border-radius: 15px;
  padding-top: 45px;
}

.left-contact-container {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-right: 52px;
  padding-left: 45px;
  padding-bottom: 45px;
}

.block {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.block__item {
  display: inline-block;
  width: 375px;
  border-bottom: 1px solid #E9E9E9;
}

.line {
  display: inline-flex;
  width: 288px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.line__mail {
  display: inline-flex;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.graph {
  display: inline-flex;
  width: 359px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}

.adress {
  display: flex;
  margin: 0;
  padding: 0;
}

.adress__title {
  width: 230px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.adress__caption {
  margin: 0;
  padding: 0;
  margin-right: 83px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  list-style: none;
}

.line__caption {
  margin: 0;
  padding: 0;
  margin-right: 47px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.line__caption-mail {
  margin: 0;
  padding: 0;
  margin-right: 93px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.phone-numbers {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  transition: color 0.3s ease-in-out;
}

.link__phone-number {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.link__phone-number:focus {
  outline: 1px solid #F0BF5F;
}

.link__phone-number:hover {
  color: #CC9933;
}

.link__phone-number:active {
  outline: none;
  color: #A47312;
}



.phone-number:last-child {
  margin-bottom: 23px;
}

.mail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}

.mail__link {
  display: inline-flex;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.mail__link:focus {
  outline: 1px solid #F0BF5F;
}

.mail__link:hover {
  color: var(--base-color);
}

.mail__link:active {
  outline: none;
  color: var(--dark-color);
}

.mail-2__link {
  display: inline-flex;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.mail-2__link:focus {
  outline: 1px solid #F0BF5F;
}

.mail-2__link:hover {
  color: var(--base-color);
}

.mail-2__link:active {
  outline: none;
  color: var(--dark-color);
}


.mail__title {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.mail__title-2 {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.graph__caption {
  margin: 0;
  padding: 0;
  margin-right: 74px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.graph__title {
  width: 214px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.navigation-button {
  position: relative;
  margin: 0;
  padding: 0;
  border: 1px solid #CC9933;
  border-radius: 15px;
  background: #FFFFFF;
  padding: 27px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  cursor: pointer;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.navigation-button::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #CC9933;
  outline: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navigation-button:active::after {
  opacity: 1;
}

.navigation-button:hover {
  color: #FFF;
  background-color: var(--base-color);
}

.navigation-button:active {
  background-color: var(--dark-color);
}

.navigation-button:active::after {
  opacity: 0;
}


.right-contact-container {
  width: 653px;
}


/* footer */

.footer__container {
  width: 1170px;
  justify-content: space-between;
  border-radius: 15px;
  padding: 45px;
  background-color: #333;
  background-image: url("../img/sun.png");
  block-size: 100%;
  background-repeat: no-repeat;
  background-position: 739px bottom;
}

.footer__wrapper--left {
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin-right: 125px;
  max-width: 302px;
}

.footer__wrapper--center {
  margin-right: auto;
  max-width: 359px;
  font-style: normal;
  align-items: flex-start;
}

.footer__wrapper--right {
  width: 25px;
}

.footer__paragraph {
  margin-bottom: 37px;
  line-height: 30.4px;
  color: #fff;
}

.footer__paragraph:last-child {
  margin-bottom: 40px;
}

.footer__list {
  align-items: flex-start;
  align-self: flex-start;
  flex-direction: column;
}

.footer__item:nth-child(2) {
  margin-bottom: 15px;
}

.footer__item--icon {
  font-size: 0;
}

.footer__item--icon:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  transition: color 0.3s ease-in-out;
}

.footer__link svg {
  fill: #CC9933;
}

.footer__link:focus svg {
  outline-offset: 2px;
  outline: 1px solid #F0BF5F;
}

.footer__link:hover svg {
  fill: var(--base-color);
}

.footer__link:active svg {
  outline: none;
  fill: var(--dark-color);
}
