.svg-Ellipse-Big-dims {
    width: 1207px;
    height: 898px;
}

.svg-Icon-dims {
    width: 12px;
    height: 12px;
}

.svg-Icon-red-dims {
    width: 12px;
    height: 12px;
}

.svg-Logo-dims {
    width: 150px;
    height: 78px;
}

.svg-Logo-Alfa-dims {
    width: 123px;
    height: 26px;
}

.svg-Logo-Ivi-dims {
    width: 79px;
    height: 38px;
}

.svg-Logo-Megafon-dims {
    width: 119px;
    height: 23px;
}

.svg-Logo-Mts-dims {
    width: 62px;
    height: 17px;
}

.svg-Logo-Tinkoff-dims {
    width: 140px;
    height: 14px;
}

.svg-Logo-Vk-dims {
    width: 35px;
    height: 35px;
}

.svg-Logo-Yandex-dims {
    width: 64px;
    height: 20px;
}

.svg-LogoBlack-dims {
    width: 150px;
    height: 78px;
}

.svg-headerLogo-dims {
    width: 150px;
    height: 78px;
}

.svg-iconQ-dims {
    width: 74px;
    height: 59px;
}

.svg-iviLogo-dims {
    width: 51px;
    height: 38px;
}

.svg-key-svgrepo-com-dims {
    width: 800px;
    height: 800px;
}

.svg-map-dims {
    width: 1110px;
    height: 595px;
}

.svg-ppp-dims {
    width: 1626px;
    height: 1076px;
}

.svg-title-dims {
    width: 1080px;
    height: 235px;
}

.svg-title1-dims {
    width: 814px;
    height: 235px;
}

