@import "_color";

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}



img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    min-width: 320px;
    font-family: "Montserrat", sans-serif;
    background: $bgColor;
    width: 100%;
    height: 10%;
    margin: 0 auto;
    /* cursor: url(fire.png), auto; */
}


.list-reset {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.section-offsets {
    padding: 75px 0;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}

.btn:hover {
    background-color: $orangeColor;
    color: $lightColor;
    box-shadow: 0 0 2px 3px $lightColor;
    transition: .3s ease-in;
}