$darkColor: #000;
$lightColor: #ffffff;
$baseColor: #878B90;
$orangeColor: #B17955;
$bgColor: #F4F3F1;
$footBgColor: #2E2E2E;
$rColor: #4cf157;
$glockColor: #7CFC00;
$greenColor: #29fd53;
$threeColor: #333333;
$redColor: red;
$lineColor: #141e30;
$lineDubColor: #243b55;
$addColor: #25efd722;
$hoverColorBlue: #37aee2;
$borderColor: rgba(135, 139, 144, 0.50);
$rgbColor: rgba(255, 255, 255, 0.20);
$shadowColor: #ece9e9;
$bgCircleOne: #D9D9D9;
$bgCircleTwo: #8E6148;
$bgColorThree: #D6C4A3;
$bgColorFour: #9A967B;
$bgColorFive: #A3C6C7;
$bgColorSix: #212121;
$bgColorSeven: #643120;
$clientsBtn: rgba(255, 255, 255, 0.70);
$buttonAnim: #212121;
$btnColor: #e8e8e8;
$btnShadow: rgba(0, 0, 0, 0.27);
$darkBgColor: #1D2127;