$bgcolorbody: #202020;
$fontcolor: #fff;
$hovercolor: #FF6E30;
$orangecol: #BC572B;
$addcolor: #CE4307;
$fontbodycol: #999;
$mainescol: #E9E9E9;
$greycolor: #CACACA;
$rgbabg: rgba(32, 32, 32, 0.85);
$burgerbtn: #808080;
$medianav: #4A4A4A;
