:root {
    --whiteColor: #ffffff;
    --redRibbon: #ED0644;
    --scorpion: #5C5C5C;
    --wildSans: #F5F5F5;
    --miniShaft: #212121;
    --gallery: #EBEBEB;
    --black: #000000;
    --diesel: #050001;
    --botticelli: #CAD5E1;
    --cornflowerBlue: #EFF3F6;
    --mineShaft: #3d3d3d;
}