@font-face {
    font-family: "Cruin";
    src: url("../fonts/CruinnRegular.woff") format("woff2"),
        url("../fonts/CruinnRegular.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cruin";
    src: url("../fonts/CruinnMedium.woff") format("woff2"),
        url("../fonts/CruinnMedium.woff2") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Cruin";
    src: url("../fonts/CruinnBold.woff") format("woff2"),
        url("../fonts/CruinnBold.woff2") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gordita";
    src: url("../fonts/GorditaRegular.woff2") format("woff2"),
        url("../fonts/GorditaRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gordita";
    src: url("../fonts/GorditaMedium.woff2") format("woff2"),
        url("../fonts/GorditaMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gordita";
    src: url("../fonts/GorditaBold.woff") format("woff2"),
        url("../fonts/GorditaBold.woff2") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LavanderiaC";
    src: url("../fonts/LavanderiaC.woff") format("woff2"),
        url("../fonts/LavanderiaC.woff2") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
