.projects {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--second-color);
}
.projects__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects__title {
    margin-bottom: 100px;
}
.projects__content {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

.projects__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    list-style: none;
    gap: var(--gap);
}

.projects__item {
    width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.projects__link {
    width: 100%;
    height: 100%;
}
.projects__item--arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projects__item--arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-top: 5px solid var(--help-color);
    border-left: 5px solid var(--help-color);
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.projects__item--arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.projects__item--arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0%{
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }    
}
.projects__item:hover .projects__item--arrow {
    display: none;
    visibility: hidden;
}


.projects__link--inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--aztec-color);
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
    border-radius: 10px;
    visibility: hidden;
}

.projects__item:hover .projects__link--inner {
    transform: scale(1);
    visibility: visible;
}
.inner {
    width: 100%;
    height: 100%;
}

.inner__title {
    margin: 0;
    padding: 0;
    color: var(--js-circle-color);
    font-size: 24px;
    letter-spacing: 1.2px;
    font-family: "Cruin";
    margin-bottom: 16px;
}

.inner__text {
    color: var(--second-color);
    font-size: 16px;
    margin-bottom: 35px;
    line-height: 26px;
    font-family: "Cruin";
}

.inner__text span {
    font-size: 24px;
    color: var(--html-circle-color);
}
.inner__btn {
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 50%;
    background: var(--second-color);
    width: 14%;
    height: 8%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.inner__btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
}

.svg-arrow-dims {
    width: 50%;
    height: 50%;    
    transition: all .3s ease-in-out;
}
.inner__btn:hover {
    background: var(--help-color);
    box-shadow: 0px 0px 36px 1px var(--inner-btn-color),
                0px 0px 40px 1px var(--inner-btn-color);
    transition: all .3s ease-in-out;
}
.inner__btn:hover .svg-arrow-dims use {
    transform: scale(1.1);
    fill: var(--aztec-color);
    transition: all .3s ease-in-out;
}

.projects__btn {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    padding: 12px 32px;
    cursor: pointer;
    background: var(--aztec-color);
    border-radius: 10px;
    color: var(--second-color);
    transition: all .3s ease-in-out;
}
.projects__btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
}
.projects__btn:hover {
        box-shadow: 0px 0px 13px 1px var(--pr-btn-color),
                    0px 0px 25px 2px var(--pr-btn-color);
        transition: all .3s ease-in-out;
}