:root {
    --aztec-color: #111F1E;
    --second-color: #EDEDED;
    --sec-bg-color: #EFEEE8;
    --thrid-color: #edededbe;
    --white-color: #FFF;
    --help-color: rgb(4, 243, 16);
    --header-boxShadow: rgba(0,0,0,0.5);
    --header-mini: #111f1ed0;
    --remove-color: #f50101;
    --black-color: #000000;
    --blur-color: #00ffd5; 
    --blue-color: #0894e5;
    --logo-color: #f05f05;
    --hero-text: rgba(237, 237, 237, 0.70);
    --liner-rgba: rgba(4, 37, 21, 0.822);
    --skills-item-color: rgba(6, 176, 161, 0.2);
    --html-circle-color: rgb(0, 247, 25);
    --css-circle-color: rgb(255, 0, 247);
    --js-circle-color: rgb(243, 250, 56);
    --pyhton-circle-color: rgb(27, 247, 188);
    --sql-circle-color: rgb(238, 47, 47);
    --ps-circle-color: rgb(113, 35, 239);
    --figma-circle-color: rgb(236, 242, 70);
    --angile-circle-color: rgb(173, 223, 198);
    --inner-btn-color: rgb(48, 247, 4);
    --pr-btn-color: rgba(11, 95, 86, 0.37);
    --preloader-buble: #b60185;
    --flash-btn-color: rgba(9, 88, 50, .4);
    --gap: 20px;
    --elements: 4;
    --elementsMedia: 3;
}