.all-wrapper{
    position: relative;
}
.come-back-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 35%;
    left: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: var(--aztec-color);
    width: 80px;
    height: 80px;
    border: 1px solid var(--aztec-color);
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px var(--header-boxShadow);
}

.come-back-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-back-dims{
    width: 45px;
}
.svg-back-dims use {
    fill: var(--js-circle-color);
    animation: scaleAnimation 3s infinite;
}
.svg-back-dims:hover use{
    animation-play-state: paused;
}
@keyframes scaleAnimation {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.9);
    }
  }
.my-profile-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--aztec-color);
    background-image: linear-gradient(var(--aztec-color), var(--liner-rgba)), url(/img/man.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.my-profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.my-profile__textBox{
    max-width: 50%;
}
.my-profile__title {
    color: var(--help-color);
    font-family: "Gordita";
    font-size: clamp(30px, 4vw, 100px);
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-align: center;
}
.my-profile__paragraph{
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--sec-bg-color);
    font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
    line-height: clamp(30px, 2vw, 100px);
    text-align: justify;
    font-family: "Cruin";
}
.my-profile__paragraph::before{
    content: '';
    position: absolute;
    top: 0;
    right: -4%;
    width: 3px;
    height: 100%;
    background: var(--help-color);
}
.my-profile__paragraph::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--second-color);
    background: var(--aztec-color);
}
.extra{
    color: var(--js-circle-color);
    font-weight: 500;
}
.my-profile__photoBox {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-profile-img{
    max-height: 100%;
}

/* tabs */

.portfolio-section{
    background: var(--sec-bg-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.portfolio-container{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-caption{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-title{
    width: 50%;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--black-color);
    font-family: 'Gordita';
    font-size: 54px;
    font-weight: 500;
    margin-bottom: 75px;
}
.portfolio-title::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--black-color);
}
.portfolio-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 30%;
    width: 40%;
    height: 3px;
    background: var(--help-color);
}
.boxing{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-box{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    border-bottom: 2px solid var(--pr-btn-color);
}
.tab-btn{
    cursor: pointer;
    font-weight: 600;
    font-size: 32px;
    font-family: "Cruin";
    color: var(--aztec-color);
    border: none;
    background: transparent;
    padding: 18px;
    transition: all .5s ease-in-out;
}
.tab-btn:not(:last-child){
    margin-right: 5%;
}
.tab-btn.active{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    background: var(--aztec-color);
    color: var(--js-circle-color);
    transition: all .5s ease-in-out;
}
.content-box{
    width: 100%;
    padding: 20px;
}

.content {
    display: none;
    animation: moving .5s ease;
}
@keyframes moving {
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.content.active{
    display: block;
}

.content .content-title{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    color: var(--aztec-color);
}
.content-title span{
    color: var(--remove-color);
}
.frontend-list{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.frontentd-video{
    max-width: 500px;
}