.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--aztec-color);
    z-index: 1;
    /* box-shadow: 0px 0px 24px 7px var(--header-boxShadow); */
    padding-top: 30px;
    padding-bottom: 30px;
    transition: box-shadow .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s ease-in-out;
}
/*когда прокрутка скрола появиться етого класса */
.header_mini {
    box-shadow: 0px 0px 24px 7px var(--header-boxShadow);
    background: var(--header-mini);
    padding-top: 20px;
    padding-bottom: 20px;
    transition: padding-top .3s ease-in-out, padding-bottom .3s ease-in-out;
    backdrop-filter: blur(10px);
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__link {
    transition: visibility .5s ease-in-out;
}
.header__logo {
    position: relative;
    width: 50px;
    height: 50px;
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    margin-right: 120px;
}
.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--second-color);
}
.nav__item {
    position: relative;
    font-size: 24px;
}
.nav__item:not(:last-child) {
    margin-right: 50px;
}
.nav__link::after {
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--help-color);
    transform: scale(0);
    transition: transform .3s ease-in-out;
}
.nav__item:hover .nav__link::after {
    transform: scale(1);
    transition: transform .3s ease-in-out;
}
.nav__link {
    font-family: "Gordita";
    letter-spacing: 1.1px;
    font-size: 24px;
    text-decoration: none;
    transition: .5s ease-in-out;
}
.nav__item:hover {
    color: var(--help-color);
}
/* header__btn */
.header-btn {
    text-align: center;
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    cursor: pointer;
}
.header-btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 22px;
}
.header-btn:hover .header-btn-tooltip {
    background: transparent;
}
.header-btn-tooltip {
    width: 100px;
    position: absolute;
    top: 0;
    left: -37px;
    font-size: 14px;
    letter-spacing: 1.2px;
    background: transparent;
    color: var(--help-color);
    font-family: "Gordita";
    opacity: 0;
    pointer-events: none;
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.header-btn:hover .header-btn-tooltip {
    top: -17px;
    left: -37px;
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(2px 4px 15px var(--help-color));
    pointer-events: auto;
    text-align: center;
}
.svg-send-message-dims {
    width: 30px;
    height: 30px;
    transition: fill .5s ease-in-out;
}
.header__sendBox {
    fill: var(--white-color);
}
.header-btn:hover .header__sendBox {
    fill: var(--help-color);
    transition: fill .5s ease-in-out;
}
/* modal__menu */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}
.modal__box {
    position: relative;
    width: 600px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    border-radius: 10px;
    background: var(--sec-bg-color);
    box-shadow: 0px 0px 30px -2px rgba(34, 60, 80, 0.42);
    transform: scale(0);
    transition: transform .8s ease-in-out;
}
.modal.open {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s ease-in-out;
}
.modal.open .modal__box {
    transform: scale(1);
    transition: transform .5s ease-in-out;
}
.modal-close-btn {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.svg-close-dims, .modal-close-svg {
    width: 25px;
    height: 25px;
    transition: fill .3s ease-in-out;
}
.modal-close-btn:hover .svg-close-dims, .modal-close-svg path {
    fill: var(--remove-color);
    transition: fill .3s ease-in-out;
}
.modal-close-btn:active .svg-close-dims, .modal-close-svg path {
    border: 1px solid var(--remove-color);
    transition: fill .3s ease-in-out;
}
/* modal__form */
.send-title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    font-family: "Gordita";
    font-weight: 700;
    color: var(--aztec-color);
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    background: var(--sec-bg-color);
}
.form-box {
    position: relative;
    margin-bottom: 40px;
}
.form-inp, .form-msg {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    font-family: "Gordita";
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid var(--black-color);
}
.form-msg {
    resize: none;
    height: 100px;
}
.form-label, .form-label-msg {
    position: absolute;
    top: -3px;
    left: 0;
    letter-spacing: 1.2px;
    font-size: 16px;
    transform-origin: 0 0;
    pointer-events: none;
    color: var(--black-color);
    opacity: .5;
    transition: top .3s ease-in-out, transform .3s ease-in-out;
}
.form-box .form-inp:focus ~ .form-label, 
.form-box .form-inp:valid ~ .form-label {
    top: -22px;
    left: 0;
    opacity: 1;
}
.form-box .form-msg:focus ~ .form-label-msg, 
.form-box .form-msg:valid ~ .form-label-msg {
    top: -22px;
    left: 0;
    opacity: 1;
}
.form-btn {
    position: relative;
    background: var(--aztec-color);
    color: var(--help-color);
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    font-family: "Gordita";
    letter-spacing: 1.5px;
    transition: transform .5s ease-in-out, outline-color .5s ease-in-out;
    outline: 1px solid transparent;
    outline-offset: 4px;
}
.form-btn:focus-visible {
    outline-color: var(--aztec-color);
}
.form-btn:hover {
    transform: scale(1.03);
}
.form-btn:active {
    transform: scale(.97);
}
.form-btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: content-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
}
.errorBlock {
    color: red;
}
.mains {
    width: 10%;
    height: 20%;
}
/* burger menu */
.burger {
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
    transition: transform .5s ease-in-out, background-color .5s ease-in-out;
}
.burger::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.burger__item {
    position: absolute;
    left: 5px;
    width: 30px;
    height: 3px;
    background: var(--second-color);
    transition: transform .5s ease-in-out, opacity .5s ease-in-out, background-color .5s ease-in-out;
    will-change: transform;
}
.burger:hover .burger__item {
    background-color: var(--help-color);
    transition: background-color .5s ease-in-out;
} 
.burger__item:nth-child(1) {
    transform: translateY(-10px);
}
.burger__item:nth-child(3) {
    transform: translateY(10px);
}
/* krestik */
.header.open .burger__item:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    background-color: var(--aztec-color);
    transition: transform .5s ease-in-out, background-color .5s ease-in-out;
}
.header.open .burger__item:nth-child(2) {
    opacity: 0;
    background-color: var(--aztec-color);
    transition: opacity .5s ease-in-out, background-color .5s ease-in-out;
}
.header.open .burger__item:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    background-color: var(--aztec-color);
    transition: transform .5s ease-in-out, background-color .5s ease-in-out;
}
.header.open .nav {
    transform: translateX(-100%);
    visibility: visible;
}