@media (max-width: 1100px) {
    .header-btn {
        margin-right: 45px;
    }
    .nav {
        width: 350px;
        position: absolute;
        right: -350px;
        top: 0;
        margin: 0;
        background-color: var(--thrid-color);
        visibility: hidden;
        backdrop-filter: blur(10px);
        z-index: 1;
        padding: 100px 20px 100px 40px;
        transition: transform .5s ease-in-out, visibility .5s ease-in-out;
        will-change: transform;
    }

    .burger {
        display: block;
    }

    .nav__list {
        display: block;
    }

    .nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .nav__link {
        color: var(--aztec-color);
        display: block;
        padding: 10px 0;
    }

    /* hero */
    .hero__content {
        line-height: 34px;
        font-size: 26px;
    }

    .hero__textAnimation {
        max-width: 38.5rem;
    }

    .hero__title {
        font-size: 52px;
        background-position: -5rem 0;
    }
    .skills__item{
        width: 200px;
    }


    @keyframes homeBgtext {

        0%,
        10%,
        100% {
            background-position: -40rem 0;
        }

        65%,
        85% {
            background-position: 0 0;
        }
    }

    .hero__text {
        font-size: 26px;
    }

    /* about */
    .about__title,
    .skills__title,
    .projects__title,
    .footer__title {
        width: 50%;
        font-size: 48px;
    }

    .about__span {
        font-size: 48px;
    }

    .about__text {
        font-size: 20px;
        line-height: 36px;
    }

    /* skills */
    .skills__item:nth-last-child(-n+2) {
        display: none;
    }

}
@media (max-width: 992px) {
    .skills__list {
        gap: 25px !important;
    }
    .footer__nav {
        display: none !important;
    }
    .my-title {
        width: 50% !important;
    }
}
@media (max-width: 758px) {
    .modal__box{
        width: 500px;
    }
    /* hero */
    .hero__content {
        line-height: 34px;
        font-size: 26px;
    }
    .hero__textAnimation {
        max-width: 30rem;
    }
    .hero__title {
        font-size: 40.5px;
        background-position: -5rem 0;
    }
    @keyframes homeBgtext {
        0%,10%,100% {
            background-position: -31rem 0;
        }
        65%,85% {
            background-position: 0 0;
        }
    }
    .about__text {
        font-size: 18px;
    }
    .hero__text {
        font-size: 22px;
    }
    .portfolio-item__theme {
        font-size: 16px !important;
    }
}
@media (max-width: 685px) {
    .modal__box{
        width: 400px;
    }
    .hero__content {
        line-height: 28px;
        font-size: 24px;
    }
    .hero__text {
        font-size: 20px;
    }
    .my-title,
    .about__title{
        width: 100% !important;
        font-size: 48px !important;
    }
    .skills__list {
        grid-gap: 15px !important;
    }
}
@media (max-width: 612px) {
    .container {
        padding: 0 40px !important;
    }
    .hero{
        padding-top: 230px;
    }
    .hero__content {
        line-height: 24px;
        font-size: 20px;
    }
    .hero__textAnimation {
        max-width: 27rem;
    }
    .hero__title {
        font-size: 36px;
        background-position: -5rem 0;
    }
    @keyframes homeBgtext {
        0%,10%,100% {
            background-position: -28rem 0;
        }
        65%,85% {
            background-position: 0 0;
        }
    }
    .hero__span {
        font-size: 22px;
    }
    .hero__text{
        font-size: 18px;
    }
    .hero__btn{
        margin-bottom: 90px;
    }
    .social__item{
        width: 40px;
        height: 40px;
    }
    .social-item:not(:last-child){
        margin-right: 20px;
    }
    .svg-phone-dims,
    .svg-telegramm-dims,
    .svg-github-dims{
        width: 20px;
        height: 20px;
    }
    .tooltip{
        width: 70px;
        font-size: 12px;
    }
    .about__picture {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 562px) {
    .container {
        padding: 0 35px !important;
    }
    .header__mini{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .modal__box{
        width: 320px;
    }
    .send-title{
        font-size: 22px;
    }
    .form-btn{
        font-size: 16px;
    }
    .hero{
        padding-top: 200px;
    }
    .header__logo {
        width: 35px;
        height: 35px;
    }
    .header-btn {
        margin-right: 35px;
    }
    .svg-send-message-dims {
        width: 25px;
        height: 25px;
    }
    .hero__content {
        line-height: 24px;
        font-size: 18px;
    }
    .hero__textAnimation {
        max-width: 24rem;
    }
    .hero__title {
        font-size: 32px;
        background-position: -5rem 0;
    }
    @keyframes homeBgtext {
        0%,10%,100% {
            background-position: -25rem 0;
        }
        65%,85% {
            background-position: 0 0;
        }
    }
    .hero__span {
        font-size: 16px;
    }
    .hero__text{
        font-size: 14px;
    }
    .hero__btn{
        margin-bottom: 90px;
        font-size: 16px;
    }
    .my-title,
    .about__title,
    .about__title span{
        width: 80% !important;
        font-size: 40px !important;
    }
}
@media (max-width: 447px) {
    .container {
        padding: 0 30px !important;
    }
    .header-btn-tooltip{
        font-size: 12px;
    }
    .header-btn:hover .header-btn-tooltip{
        top: -12px;
    }
    .header__mini{
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .hero{
        padding-top: 175px;
    }
    .header__logo {
        width: 30px;
        height: 30px;
    }
    .header-btn {
        margin-right: 30px;
    }
    .svg-send-message-dims {
        width: 25px;
        height: 25px;
    }
    .hero{
        padding-bottom: 75px;
    }
    .hero__content {
        line-height: 24px;
        font-size: 18px;
    }
    .hero__textAnimation {
        max-width: 19.5rem;
    }
    .hero__title {
        font-size: 26px;
        background-position: -5rem 0;
    }
    @keyframes homeBgtext {
        0%,10%,100% {
            background-position: -20rem 0;
        }
        65%,85% {
            background-position: 0 0;
        }
    }
    .hero__span {
        font-size: 12px;
        margin-bottom: 45px;
    }
    .hero__text{
        font-size: 12px;
    }
    .hero__btn{
        margin-bottom: 75px;
        font-size: 14px;
    }
    .my-title,
    .about__title,
    .about__title span{
        width: 70% !important;
        font-size: 32px !important;
    }
    .about{
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .about__picture{
        margin-bottom: 55px;
    }
    .about__text {
        font-size: 16px;
        line-height: 32px;
    }
    .about__text::before{
        left: -17px;
    }
    .about__text::after{
        left: -23px;
    }
    .skills{
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }
    .projects {
        padding-top: 75px !important;
        padding-bottom: 75px !important;
    }
    .portfolio-item__theme {
        font-size: 14px!important;
    }
    .portfolio-item__title{
        font-size: 48px !important;
    }
    .footer{
        padding-top: 75px;
    }
    .footer__logo{
        width: 30px;
        height: 30px;
    }
    .footer-social:not(:last-child) {
        margin-right: 20px;
    }
}
@media (max-width: 386px) {
    .container{
        padding: 0 22px !important;
    }
    .header-btn-tooltip{
        font-size: 12px;
    }
    .header-btn:hover .header-btn-tooltip{
        top: -12px;
    }
    .nav {
        width: 270px;
        right: -270px;
        backdrop-filter: blur(5px);
        padding: 75px 20px 50px 40px;
    }
    .nav__link{
        padding: 4px 0;
        font-size: 20px;
    }
    .modal__box{
        width: 275px;
        padding: 35px;
        margin: 30px 15px;
    }
    .send-title{
        font-size: 19px;
    }
    .form-box {
        margin-bottom: 34px;
    }
    .form-inp,
    .form-msg {
        font-size: 14px;
    }
    .form-labe,
    .form-label-msg{
        font-size: 14px;
    }
    .form-msg{
        height: 80px;
    }   
    .form-btn{
        font-size: 16px;
    }
    .hero{
        padding-top: 150px;
    }
    .header__logo {
        width: 25px;
        height: 25px;
    }
    .header-btn {
        margin-right: 22px;
    }
    .svg-send-message-dims {
        width: 25px;
        height: 25px;
    }
    .hero{
        padding-bottom: 50px;
    }
    .hero__content {
        line-height: 22px;
        font-size: 16px;
    }
    .hero__textAnimation {
        max-width: 16.5rem;
    }
    .hero__title {
        font-size: 22px;
        background-position: -5rem 0;
    }
    @keyframes homeBgtext {
        0%,10%,100% {
            background-position: -16rem 0;
        }
        65%,85% {
            background-position: 0 0;
        }
    }
    .hero__span {
        font-size: 12px;
        margin-bottom: 35px;
    }
    .hero__text{
        font-size: 11.2px;
    }
    .hero__btn{
        margin-bottom: 75px;
        font-size: 12px;
    }
    .my-title,
    .about__title,
    .about__title span{
        width: 90% !important;
    }
    .about{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about__title{
        margin-bottom: 55px;
    }
    .about__picture {
        width: 175px;
        height: 175px;
    }
    .about__picture{
        margin-bottom: 35px;
    }
    .about__text {
        font-size: 14px;
        line-height: 24px;
    }
    .about__text::before{
        left: -15px;
    }
    .about__text::after{
        left: -22px;
    }
    .skills{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .projects {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .portfolio-item__theme {
        font-size: 13px!important;
    }
    .portfolio-item__title{
        font-size: 40px !important;
    }
    .projects__button{
        font-size: 20px !important;
        padding: 15px 70px !important;
    }
    .footer{
        padding-top: 50px;
    }
    .footer__content{
        padding: 18px 0;
    }
    .footer__logo{
        width: 25px;
        height: 25px;
    }
    .footer-social:not(:last-child) {
        margin-right: 20px;
    }
}