.projects {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--second-color);
}
.projects__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.projects__title::before {
    background: var(--aztec-color);    
}
.projects__list {
    width: 100%;
    margin-bottom: 65px;
}
.portfolio-item--burger {
    border-bottom: 1px solid var(--black-color);
}
.portfolio-item {
    position: relative;
    border-top: 1px solid var(--black-color);
    background: var(--sec-bg-color);
}
.portfolio-item__link {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 82px;
    padding-bottom: 82px;
}
.portfolio-item__link .portfolio-item__bg {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform .5s cubic-bezier(.77,.125,.265,1.04),opacity .5s cubic-bezier(.77,.125,.265,1.04);
    will-change: transform;
    pointer-events: none;
}
.portfolio-item__bg {
    background-image: url(/img/001.jpg);
}
.portfolio-item__bg--second {
    background-image: url(/img/002.jpg);    
}
.portfolio-item__bg--three {
    background-image: url(/img/003.jpg);
}
.portfolio-item__bg--four {
    background-image: url(/img/004.jpg);
}
.portfolio-item__link:hover .portfolio-item__bg {
    transform: translateY(0%);
    opacity: 1;
}
.portfolio-item__link:hover .portfolio-item__theme {
    color: var(--help-color);
}
.portfolio-item__link:hover .portfolio-item__title {
    color: var(--help-color);
}
.portfolio-item__link .container {
    position: relative;
}
.portfolio-item__theme {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--aztec-color);
    transition: color .3s ease-in-out .2s;
}
.portfolio-item__title {
    margin: 0;
    font-weight: 500;
    font-family: "Cruin";
    font-size: 68px;
    line-height: 93px;
    color: var(--aztec-color);
    transition: color .3s ease-in-out .2s;
}
.projects__button {
    background: var(--aztec-color);
    color: var(--help-color);
    padding: 17px 40px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    font-family: "Gordita";
    letter-spacing: 1px;
    transition: transform .5s ease-in-out, outline-color .5s ease-in-out;
    outline: 1px solid transparent;
    outline-offset: 4px;
}
.projects__button::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 22px;
}
.projects__button:focus-visible {
    outline-color: var(--aztec-color);
}
.projects__button:hover {
    transform: scale(1.03);
}
.projects__button:active {
    transform: scale(.97);
}
.flash-btn {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px var(--flash-btn-color);
}
.flash-btn::after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--second-color);
    opacity: .02;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    transition: transform .7s ease-in-out, opacity .3s ease-in-out;
}
.flash-btn:hover::after {
    transform: scale(5);
    opacity: .14;
}
.flash-btn:active {
    transition: transform .5s, outline-color .5s, box-shadow .5s ;
    box-shadow: 0px 0px 0px 20px rgba(9, 88, 50, 0);
}
.projects__button--link {
    height: 100%;
    text-align: center;
}