.skills {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--aztec-color);
}
.skills__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills__content {
    width: 100%;
}
.skills__title {
    color: var(--second-color);
}
.skills__title::before {
    background: var(--second-color);
}
.skills__list {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 35px;
    list-style-type: none;
}
.skills__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    border-radius: 20px;
    /* width: 350px; */
    height: 220px;
    box-shadow: 0px 0px 21px 6px var(--skills-item-color);
}
.skills__rating {
    position: relative;
    width: 100%;
    height: 100%;
}
.block {
    position: absolute;
    width: 2px;
    height: 15px;
    background: var(--black-color);
    top: 5%;
    left: 50%;
    opacity: 0;
    transform-origin: 50% 100px;
    animation: animate .2s linear forwards;
}
@keyframes animate {
    to {
        opacity: 1;
    }   
}
.skills__rating--first .block:nth-child(-n+81) {
    background: var(--html-circle-color);
    box-shadow: 0 0 15px var(--html-circle-color), 0 0 30px var(--html-circle-color);
}
.skills__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--second-color);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.skills__list .skills__item:nth-of-type(2) .block:nth-child(-n+71) {
    background: var(--css-circle-color);
    box-shadow: 0 0 15px var(--css-circle-color), 0 0 30px var(--css-circle-color);
}
.skills__item:nth-of-type(3) .block:nth-child(-n+51) {
    background: var(--js-circle-color);
    box-shadow: 0 0 15px var(--js-circle-color), 0 0 30px var(--js-circle-color);
}
.skills__item:nth-of-type(4) .block:nth-child(-n+61) {
    background: var(--pyhton-circle-color);
    box-shadow: 0 0 15px var(--pyhton-circle-color), 0 0 30px var(--pyhton-circle-color);
}

.skills__item:nth-of-type(5) .block:nth-child(-n+66) {
    background: var(--sql-circle-color);
    box-shadow: 0 0 15px var(--sql-circle-color), 0 0 30px var(--sql-circle-color);
}

.skills__item:nth-of-type(6) .block:nth-child(-n+81) {
    background: var(--ps-circle-color);
    box-shadow: 0 0 15px var(--ps-circle-color), 0 0 30px var(--ps-circle-color);
}
.skills__item:nth-of-type(7) .block:nth-child(-n+86) {
    background: var(--figma-circle-color);
    box-shadow: 0 0 15px var(--figma-circle-color), 0 0 30px var(--figma-circle-color);
}
.skills__item:nth-of-type(8) .block:nth-child(-n+71) {
    background: var(--angile-circle-color);
    box-shadow: 0 0 15px var(--angile-circle-color), 0 0 30px var(--angile-circle-color);
}
.skills__caption span {
    font-size: 48px;
    font-weight: 700;
}
.skills__caption sup {
    font-size: 16px;
    font-weight: 300;
}